{{ define "main" }}
{{ with .Content }}
<div class="index-content">
  {{ . }}
</div>
{{ end }}
<div class="posts">

{{ if ne .IsHome true }}

<p>
{{ if eq .Page.Title "Tags" }}
meow464@neocities.org:~/Documents$ ls
{{ else }}
meow464@neocities.org:~/Documents$ ls {{ .Page.Title }}
{{ end }}
</p>

<ul>
{{ range .Data.Pages }}
<li> <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
{{ end }}
</ul>
{{ end }}

{{ if .IsHome }}
{{ range where .Site.Pages "Section" "blog"}}
{{ range .Pages }}
<div>
  <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a> - {{ .Date.Format "2006-01-02" }}
</div>

<br>
{{ end }}
{{ end }}
{{ end }}
    
{{/*
{{ partial "pagination.html" . }}
*/}}

</div>
{{ end }}
