{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "datefmt") }}

<div class="post-meta">
    {{/* Display the date if set */}}
    {{- if not .Date.IsZero -}}
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time>
    {{- end -}}
    
    {{/* Display taxonomies */}}
    {{- range $taxo, $taxonomy := .Site.Taxonomies }}
    {{- $elems := $.Param $taxo }}
    {{- if $elems }}
    <!-- {{ $taxo | humanize }} &#x5b; -->
    {{- range $name := $elems }}
    {{- with $.Site.GetPage (lower (printf "/%s/%s" $taxo (urlize $name))) }}
    <span style="float: right; padding-left: 5px;">
      <a href="{{ .Permalink }}">#{{ $name }}</a>
    </span>
    {{- end }}
    {{- end }}
    <!-- &#x5d; -->
    {{- end }}
    {{- end }}
</div>
